.mt-6 {
    margin-top: 15rem;
}

.mouseover {
    cursor: not-allowed;
}


@media screen and (max-width: 990px) {
    .mt-6 {
        margin-top: 10rem;
    }

    #ms-6 {
        margin-left: 0;
    }
}